body{
    margin: 0;
}
header{
    background-color: #111;
    color: #FA7F72;
    text-align: center;
    margin: 0;
    padding: 50px;
    font-family: 'Righteous', sans-serif;
}

h1{
    margin: 0;
    font-size: 50px;
}

h2{
    font-family: 'Righteous', sans-serif;
}

img{
    margin-left: 300px;
}
nav{
    background-color: #FA7F72;
    margin: 0;
    padding: 15px;
}

li{
    list-style: none;
}

table{
    border: #111 solid 3px;
    width: 100px;
}

footer{
    background-color: #CCCCCC;
    padding: 75px;
}

#root{
    margin: auto;
}

table{
    margin: auto;
    padding: 0;
    border-collapse: collapse;
}
tr{
    background-color: #FA7F72;
}
td{
    border: 2px solid black;
}

th{
    background-color: #808080;
}